*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* .carousel-item > img{
    height: 680px;
    object-fit: cover;
} */
/* .col-6 > img{
    height: 450px;
    width: 100%;
    object-fit: cover;
} */
body{
    /* background-image: url(img/body-background1.webp);
    opacity: 2;
    object-fit: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh; */
    background-color:#e7e5d8 !important;
}
.nav-link:hover{
    color:brown !important;
    box-shadow: rgba(214, 10, 10, 0.35) 0px 5px 15px;
    border-radius: 10px;

}
.carousel-item > img {
  width: 100%;
  height: 95vh; 
  object-fit: cover;
}
.about .about-img{
       height: 400px; 
       width: 100%;
       object-fit: cover;
       object-position: right;
    }
.about-border{
   box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
   border-radius: 50px;
   
}

/* card section */

.card{
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    border: 1px solid rgba(255, 2, 2, 0.662) !important;
   
}
.card:hover{
   
      transform: scale(1.05);
      transition: transform 0.3s ease-in-out;
      /* box-shadow: 0 4px 10px rgba(249, 3, 3, 0.1); */
      box-shadow: rgb(198, 2, 2) 0px 20px 30px -10px;
    }


.card > img{
    object-fit: cover;
    height: 400px;
}
.about-img:hover{
     transform: scale(1.05);
      transition: transform 0.3s ease-in-out;
     box-shadow: rgb(198, 2, 2) 0px 20px 30px -10px;
}
.team-img{
    height: 270px !important;
}

.ftr-col > a{
    text-decoration: none !important;
}
.ftr-col-icon >h4{
  width: 250px;
}
.ftr-row{
    /* width: 200px; */
    /* margin-left: 350px !important; */
}



@media screen and (max-width:768px) {
    .carousel-item > img{
        object-fit: cover;
        height: 50vh;
    }
    .card:hover{
   
       transform: scale(1.05);
      transition: transform 0.3s ease-in-out;
      /* box-shadow: 0 4px 10px rgba(249, 3, 3, 0.1); */
      box-shadow: rgb(198, 2, 2) 0px 20px 30px -10px;
    
    }
    .about-img:hover{
     transform: scale(1.05);
      transition: transform 0.3s ease-in-out;
     box-shadow: rgb(198, 2, 2) 0px 20px 30px -10px;
}
}
@media screen and (min-width:768px , max-width:991px) {
    .about .about-img{
       height: 500px; 
       width: 100%;
       object-fit: cover;
       object-position: right;
    }
}


